.hide {
  display: none;
}

body {
  background: #fff;
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

input {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.menu-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .menu-burger {
    display: none;
  }
}

.header-class {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  background-color: #fff;
  margin: 0;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  gap: 40px;
}

@media only screen and (max-width: 767.98px) {
  .nav-menu,
  .adress-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .adress-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .adress-list {
    display: flex;
    gap: 40px;
    flex-direction: row;
  }
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}

@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}

.logo-span {
  color: #2e2f42;
}

.page-nav {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0 24px;
  display: block;
  position: relative;
}

.page-nav:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  opacity: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.page-nav:hover:after,
.page-nav:focus:after,
.page-nav.current:after {
  opacity: 1;
}

.page-nav:hover {
  color: #404bbf;
}

.page-nav:focus {
  color: #404bbf;
}

.page-nav.current {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  margin-left: auto;
  font-style: normal;
}

@media only screen and (max-width: 767.98px) {
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts-head {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .contacts-head {
    font-size: 16px;
  }
}

.contact-adrs {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-adrs:hover {
  color: #404bbf;
}

.contact-adrs:focus {
  color: #404bbf;
}

.hero-container {
  padding: 16px;
  padding-top: 72px;
  padding-bottom: 200px;

  max-width: 320px;
  background-color: #2e2f42;
  padding: 72px 0 72px;

  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Mobile/Dark-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
}

@media (min-resolution: 192dpi) {
  .hero-container {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Mobile/Dark-bg@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    max-width: 768px;
    padding: 112px 0 112px;

    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Tablet/Dark-bg.jpg);
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-container {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Tablet/Dark-bg@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .hero-container {
    max-width: 1440px;
    padding: 188px 0 188px;

    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Office.jpg);
  }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero-container {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office\ 1@2x.jpg);
  }
}

.title-text {
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  max-width: 210px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .title-text {
    font-size: 56px;
    line-height: 60px;
    max-width: 496px;
  }
}

.button {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .button {
    margin-top: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .button {
    margin-top: 48px;
  }
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

.company-section {
  padding: 96px 0 96px;
}

@media screen and (min-width: 768px) {
  .company-section {
    padding: 96px 0 96px;
  }
}

@media screen and (min-width: 1158px) {
  .company-section {
    padding: 120px 0 120px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-icon {
  display: none;
}

@media screen and (min-width: 1158px) {
  .logo-icon {
    display: flex;
  }
}

.company-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .company-menu {
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .company-menu {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-self: flex-end;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .company-menu .target-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .company-menu .target-item {
    width: calc((100% - 72px) / 4);
  }
}

.company-targets {
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

@media screen and (min-width: 1158px) {
  .company-targets {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.04em;
  }
}

.img-box {
  display: none;
}

@media screen and (min-width: 1158px) {
  .img-box {
    border-radius: 4px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    width: 256px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
}

.company-targets-descr {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

@media screen and (min-width: 1158px) {
  .company-targets-descr {
    font-weight: 400;
  }
}

.team-section {
  background-color: #f4f4fd;
  padding: 96px 0 96px;
}

@media screen and (min-width: 1158px) {
  .team-section {
    background-color: #f4f4fd;
    padding: 120px 0 120px;
  }
}

.members-menu {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .members-menu {
    gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .members-menu {
    gap: 24px;
  }
}

.socials-menu {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.socials-item {
  width: 40px;
  height: 40px;
}

.logo-socials {
  fill: #f4f4fd;
}

.socials {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials:hover,
.socials:focus {
  background-color: #404bbf;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-member {
  max-width: 264px;

  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .team-member {
    width: calc((100% - 24px * 1) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-member {
    width: calc((100% - 72px) / 4);
  }
}

.members-container {
  padding: 32px 0;
}

.member-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.member-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio-section {
  padding: 96px 0 96px;
}

@media screen and (min-width: 1158px) {
  .portfolio-section {
    padding: 120px 0 120px 0;
  }
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.protfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-menu-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-menu-item {
    width: calc((100% - 32px * 1) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-menu-item {
    width: calc((100% - 48px) / 3);
  }
}

.portfolio-item {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-img-descr {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-menu-item:hover .portfolio-img-descr {
  transform: translateY(0%);
}

.portfolio-menu-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.footer-class {
  background-color: #2e2f42;
  padding: 96px 0 96px;
}

@media screen and (max-width: 767.98px) {
  .footer-class {
    text-align: center;
  }
}

.logo-dark {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-span-dark {
  color: #f4f4fd;
}

.footer-descr {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-socials-menu {
  display: flex;
  gap: 16px;
}

.socials-title {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .flogo-container {
    max-width: 264px;
  }
}

@media screen and (max-width: 767.98px) {
  .flogo-container {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .flogo-container {
    margin-right: 120px;
  }
}

@media screen and (max-width: 767.98px) {
  .web-footer-mid {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .web-footer-mid {
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-div {
    padding: 0 108px;
  }
}

@media screen and (min-width: 768px) {
  .footer-div {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-div {
    gap: 0;
  }
}

.footer-socials {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-item {
  width: 40px;
  height: 40px;
}

.footer-socials:hover,
.footer-socials:focus {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
  .subscribe-div {
    max-width: 453px;
    width: 100%;
  }
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    flex-wrap: nowrap;
  }
}

.subscribe-text {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.subscribe-input {
  border: 1px solid #ffffff;
  width: 264px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.subscribe-label {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .subscribe-label {
    max-width: 264px;
  }
}

::placeholder {
  color: #fff;
}

.subscribe-btn {
  border-radius: 4px;
  background: #4d5ae5;
  padding: 8px 24px;
  color: #fff;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.btn-subscribe-svg {
  fill: #ffffff;
  margin-left: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal-frame-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

@media screen and (min-width: 768px) {
  .modal-frame-div {
    width: 408px;
  }
}

.modal-button {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .btn-modal-cls,
.modal-button:focus .btn-modal-cls {
  fill: #ffffff;
}

.modal-button:hover {
  background-color: #404bbf;
  border: none;
}

.modal-button:focus {
  background-color: #404bbf;
  border: none;
}

.btn-modal-cls {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  margin-top: 0;
}

.modal-form-div {
  margin-bottom: 8px;
}

.div-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-div {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.input-svg {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-svg {
  fill: #4d5ae5;
}

.comments-div {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.check-div {
  margin-bottom: 24px;
}

.checkbox-label {
  align-items: center;
  margin-bottom: 24px;
  display: flex;

  color: #8e8f99;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;

  user-select: none;
}

@media screen and (min-width: 768px) {
  .checkbox-label {
    display: block;
  }
}

.check-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.input-checkbox.visually-hidden:checked + .checkbox-label > .check-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.input-checkbox.visually-hidden:focus + .checkbox-label > .check-span {
  border-color: #4d5ae5;
}

.form-agreement-link {
  color: #4d5ae5;
  text-decoration-line: underline;
}

.btn-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Mobile menu */

.menu-btn {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.mob-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #fff;
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform 300ms ease, visibility 300ms ease;
}

.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
}

.mob-container .menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #e7e9fc;
  border-radius: 50%;
}

.mobile-menu-list {
  margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: #2e2f42;
  text-decoration: none;
}

.mobile-menu-link.current {
  color: #404bbf;
}

.mobile-menu-contacts {
  margin-bottom: 48px;
}

.mobile-menu-contacts .mobile-menu-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu-contact {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #434455;
  text-decoration: none;
}

.mobile-menu-contact.accent {
  color: #4d5ae5;
}

.mobile-menu-socials {
  gap: 40px;
  display: flex;
}

.mobile-menu-socials .icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
